*.o
*.la
*.lo
*.so
*.Plo
*~
.deps
.libs
aclocal.m4
autom4te.cache
config.*
configure
configure.in
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
test/test
test/*.mkv
test/*.ogv
test/*.mpg
test/*.txt
test/*.log
test/*.out
bug

